version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: demo_db
      POSTGRES_USER: postgres1
      POSTGRES_PASSWORD: '1234'
    ports:
      - "5433:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/demo_db
      SPRING_DATASOURCE_USERNAME: postgres1
      SPRING_DATASOURCE_PASSWORD: '1234'
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ../demo-front
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  db-data:
