apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-backend
  namespace: demo-app
  labels:
    app: demo-backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: demo-backend
  template:
    metadata:
      labels:
        app: demo-backend
    spec:
      containers:
        - name: demo-backend
          image: cycle123/demo-backend:52934d46bad4c6d798987aca3d559d5db585dfd8
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http

          env:
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                  name: demo-secret
                  key: DB_URL
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: demo-secret
                  key: DB_USERNAME
            - name: SPRING_DATASOURCE_PASSWORD 
              valueFrom:
                secretKeyRef:
                  name: demo-secret
                  key: DB_PASSWORD
            - name: SPRING_PROFILES_ACTIVE
              value: dev

          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"